body {
	line-height: 1.4em;
	background: #e9e9e9;
    width: 550px;
	margin: 0 auto;
}

button {
	margin: 0;
	padding: 0;
    border: 0;
	background: none;
}

.gif {
    z-index: 4;
    margin-top: 0px;
	margin-left: -95%;
    transform: rotate(90deg);
}
.todoapp {
    /* border: solid; */
    margin-top: -45%;
    border-radius: 10px;
    background: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todoapp input::-webkit-input-placeholder {
	font-style: italic;
	color: #d1d1d1;
}

.new-todo, .edit {
	width: 100%;
	border: 0;
	padding: 6px;
	box-sizing: border-box;
    outline: 0;
}

.new-todo {
    font-size: 24px;
    padding: 16px 16px 16px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
    outline: 0;
}

.main {
	position: relative;
	z-index: 2;
	border-top: 1px solid #e6e6e6;
}

.toggle-all {
	opacity: 0;
    position: absolute;
    bottom: 100%;
}

.toggle-all + label {
	width: 60px;
	height: 34px;
	font-size: 0;
	position: absolute;
	top: -50px;
	left: -10px;
	transform: rotate(90deg);
}

.toggle-all + label:before {
	content: '❯';
	font-size: 22px;
	color: #e6e6e6;
	padding: 27px;
}

.toggle-all:checked + label:before {
	color: #05a000;
}

.todo-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer {
	color: #777777;
	padding: 10px 15px;
	height: 20px;
	/* text-align: center; */
	border-top: 1px solid #e6e6e6;
}